body{
  margin:0px;
  background-color:#101128;
}

#frame{
 position:absolute;
 top:50vh;
 left:50vw;
 margin-top:0vh;
 margin-left:0vw;
 height:0vh;
 width:0vw;
}

#login_btn{
  position:absolute;
  left:50vw;
  top:115vw;
  margin-left:-29vw;
  height:10vw;
  width:58vw;
}

#word{
  position:absolute;
  left:50vw;
  top:125vw;
  margin-left:-23vw;
  width:46vw;
  height:10vw;
}
p{
  height:100%;
  width:100%;
  font-size:20px;
  color:white;
}
img{
  height:100%;
  width:100%;
}

