html, body
{
    height: 100%;
	width:100%;
	padding: 0;
    margin: 0;
}

body{
background-color:#101128;
}

#logo{
position:absolute;
left:50%;
top:50%;
height:0px;
width:0px;
margin:0px auto;
transition:2s;
}

#FB{
position:relative;
width:50%;
height:auto;
left:25%;
}

#FB_Button{
position:relative;
top:80%;
left:25%;
}

#word{
position:relative;
top:80%;
height:auto;
width:50%;
margin:0px auto;
color:white;
}
