body{
 margin:0px;
 overflow-x:hidden;

}
.container{
  position:relative;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
}
.topbar{
 position:absolute;
 top:0;
 left:0;
 width:100vw;
 height:7vh;
}
.close{
 position:absolute;
 top:30%;
 left:5%;
 width:8%;
 height:auto;
}
.next{
  position:absolute;
  top:30%;
  right:10%;
  width:10%;
  height:auto;
}
.upload_area{
  position:absolute;
  top:7vh;
  left:0;
  width:100vw;
  height:50vh;
  background-color:gray;

}
.profile_area{
  position:absolute;
  top:56.9vh;
  left:0;
  width:100vw;
  height:10vh;
   
}
.letterfunction{
 position:absolute;
 top:67vh;
 left:0;
 height:6vh;
 width:100vw;
}
#test{
 position:absolute;
 top:73vh;
 left:0;
 width:100vw;
 height:27vh;
}
textarea{
  width:100%;
  height:100%;
  border:0px !important;
  font-size:5vw !important;
  padding-top:2vh !important;
  padding-left:3vw !important;
}
.head_icon{
 position:absolute; 
 top:0.7%;
 left:2vw;
 width:15vw;
 height:9.5vh;
 

}
#head{
 width:100%;
 height:inherit;
 border-radius:49%;
 border:solid;
}
.star1{
 position:absolute;
 top:0;
 left:76vw;
 width:4.5vw;
 height:10vh;
 
}
.star2{
 position:absolute;
 top:0;
 left:80.5vw;
 width:4.5vw;
 height:10vh;
 
}
.star3{
 position:absolute;
 top:0;
  left:85vw;
 width:4.5vw;
 height:10vh;
 
}
.star4{
 position:absolute;
 top:0;
  left:89.5vw;
 width:4.5vw;
 height:10vh;
 
}
.star5{
 position:absolute;
 top:0;
  left:94vw;
 width:4.5vw;
 height:10vh;
 
}
#topic{
 position:absolute;
 top:0.7%;
 left:36vw;
 height:10vh;
 width:40vw;
 border-width:0 !important;
 font-size:5vw !important;
 padding-left:2vw !important;
 padding-top:3.5vh !important;
}
.line{
 position:absolute;
 top:67vh;
 left:0;
 width:100vw;
 background-color:gray;
 height:0.1vh;

}
.user_name{
 position:absolute;
 height:10vh;
 top:0;
 left:18vw;
 width:15vw;
  font-size:3vw;
  font-weight:999;
  padding-top:5vh;
  padding-left:3vw;
} 
.star1>img{
 width:100%;
 height:auto;
 padding-top:3.5vh;
}
.star2>img{
 width:100%;
 height:auto;
 padding-top:3.5vh;
}
.star3>img{
 width:100%;
 height:auto;
 padding-top:3.5vh;
}
.star4>img{
 width:100%;
 height:auto;
 padding-top:3.5vh;
}
.star5>img{
 width:100%;
 height:auto;
 padding-top:3.5vh;
}
#form1{
 margin:0;

}
.people_tag{
 position:absolute;
 top:0;
 left:66vw;
 height:6vh;
 width:10vw;
 padding-top:0.7vh;
}
.place_tag{
position:absolute;
 top:0;
 left:78vw;
 height:6vh;
 width:8vw;
 padding-top:0.7vh;


}
.date_tag{
position:absolute;
 top:0;
 left:89vw;
 height:6vh;
 width:8vw;
 padding-top:2vh;



}  
.people_tag>img{
  width:100%;
  height:100%;
}
.place_tag>img{
  width:100%;
  height:100%;
}
.date_tag>img{
  width:100%;
  height:auto;
}
#form2{
margin-bottom:0;
}
#pictureupload{
  display:none;
}
#l{
  font-size:50px;
  position:absolute;
  top:22vh;
  left:38vw;
}
#button_left{
display:none;
width: 10vw;
height: 10vh;
z-index: 1;
position: absolute;
left: 3vw;
top: 30vh;
}
#button_right{
display:none;
 width: 10vw;
    height: 10vh;
    z-index: 1;
    position: absolute;
    right: 3vw;
    top: 30vh;}
#choose{
position:absolute;
z-index:2;
top:-20vh;
left:20vw;
width:60vw;
height:10vh;
display:none;
}
#date{
  width:100% !important;
  height:auto !important;
 font-size:40px !important;
 }
#sure{
height:3vh !important;
width:6vw !important;
position:absolute;
left:110%;
top:0.5%;
}
#button_left>img{
width:100%;
height:auto;
}  
#button_right>img{
width:100%;
height:auto;
}  
#load{
  top:0;
  left:0;
position:absolute;
  width:100vw;
height:100vh;
z-index=2;
background-color:rgba(100,100,100,0.5);
} 




