body,html{
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
}
div img{
  width:100%;
  height:auto;
}
body{
  background-color:#80B2D8;
}
.bottom{
  position:absolute;
  bottom:0px;
}
.house{
  position:absolute;
  top:37%;
  left:0%;
}
.banner{
  position:absolute;
  top:20%;
  left:22%;
}
.small_person{
  position:absolute;
  bottom:2%;
  left:15%
}
.small_Taiwan{
  position:absolute;
  bottom:2%;
  left:45%;
}
.small_map{
  position:absolute;
  bottom:2%;
  left:70%;
}
.your_head{
  position:absolute;
  top:3%;
  left:3%;
}
.level_line{
  position:absolute;
  top:12%;
  left:25%;
}
.box{
  position:absolute;
  top:5%;
  right:10%;
}
.messenge{
  position:absolute;
  top:6%;
  right:28%;
}
.entrance{       
  position:absolute;
  top:70%;
  left:10%;
  width:10%;
  height:10%;
  background-color:black;
} 
.switchscreen{
  position:absolute;
  top:70%;
  left:10%;
  width:0%;
  height:0%;

}
