body,html{
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
  background-image:
  background-size:contain;
  background-repeat:no-repeat;
}
div img{
  width:100%;
  height:auto;
}
body{
  background-color:#80B2D8;
}
.house{
  position:absolute;
  bottom:0%;
  left:0%;
}
.banner{
  position:absolute;
  top:20%;
  left:22%;
}
.small_person{
  position:absolute;
  bottom:2%;
  left:15%
}
.small_Taiwan{
  position:absolute;
  bottom:2%;
  left:45%;
}
.small_map{
  position:absolute;
  bottom:2%;
  left:70%;
}
.your_head{
  position:absolute;
  top:3%;
  left:3%;
}
.beside_head{
  position:absolute;
  top:5.5%;
  left:7%;
}
.level_line{
  position:absolute;
  top:10%;
  left:17%;
}
.box{
  position:absolute;
  top:5%;
  right:10%;
}
.cloud{
  position:absolute;
  top:15%;
  right:0%;
}
.cloud2{
  position:absolute;
  top:20%;
  left:0%;
}
.entrance{       
  position:absolute;
  top:67.5%;
  left:46.5%;
  width:7.5%;
  height:7.5%;
}
@media only screen and (min-height:1800px){
  .entrance{
    top:71%;
  }
}
@media only screen and (min-height:2000px){
  .entrance{
    top:73%;
  }
}
