body,html{
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
  background-color:#80B2D8;
}
#window{
  position:absolute;
  bottom:55vw;
  left:0vw;
  width:100vw;
  height:auto;
  z-index:2;
}
#villa{
  position:absolute;
  width:100vw;
  bottom:32vw;
  padding:0px;
  z-index:1;
}
.firstfloor, .secondfloor, .roof{
  position:relative;
  width:100vw;
  height:auto;
}
#roofclick{
  display:inline-block;
  position:absolute;
  height:3vw;
  width:71vw;
  bottom:0vw;
  left:15vw;
  background-color: rgb(255, 255, 255, 0.3);
}
#block1, #block2, #block3, #block4, #block5, #block6,
#block8, #block9, #block10, #block11, #block12,
#block13, #block14, #block15, #block16, #block17, #block18,
#block19{
  text-align:bottom;
  display:inline-block;
  position:absolute;
  width:5.5vw;
  height:5.5vw;
  background-color: rgb(255, 255, 255, 0.1);
}
#block7{
  display:inline-block;
  position:absolute;
  background-color: rgb(255, 255, 255, 0.2);
  width:10vw;
  height:10vw;
  left:46vw;
  top:16vw;
}
#block8, #block9, #block10{
  left:24.7vw;
}
#block11, #block12, #block13{
  left:37.3vw;
}
#block14, #block15, #block16{
  right:36.7vw;
}
#block17, #block18, #block19{
  right:23.7vw;
}
#block8, #block17{
  top:16.5vw;
}
#block9, #block18{
  top:23.3vw;
}
#block10, #block19{
  top:30.1vw;
}
#block11, #block14{
  bottom:55vw;
  z-index:4;
}
#block12, #block15{
  top:22vw;
}
#block13, #block16{
  top:34vw;
}
#block1{
  left:24.7vw;
  top:10.6vw;
}
#block2{
  left:24.7vw;
  top:18vw;
}
#block3{
  left:24.7vw;
  top:24.8vw;
}
#block4{
  top:10.6vw;
  right:23.7vw;
}
#block5{
  top:18vw;
  right:23.7vw;
}
#block6{
  top:24.8vw;
  right:23.7vw;
}
#floors{
  position:relative;
}
img{
  width:100%;
  height:auto;
}
#flip{
  position:absolute;
  top:22vw;
  left:-78vw;
  overflow:hidden;
  display:none;
  width:84vw;
  height:132vw;
  z-index:3;
}
.modal{
  width:84vw;
  height:132vw;
  position:relative;
  text-align:center;
}
#bag_background{
  width:100%;
  height:auto;
  top:0vw;
  left:0vw;
  position:absolute;
}
#bag, .td{
  border: 0.2vw solid #ffffff;
}
#bag{
  position:absolute;
  top:2vw;
  left:17vw;
  width:60vw;
  height:auto;
}
.td{
  width:17vw;
  text-align:center;
}
.major{
  height:17vw;
}
.tag{
  font-size:2vw;
}
.options{
  height:1.5vw;
}
#close{
  width:10vw;
  height:auto;
}
#test{
  position:relative;
}
.information{
  position:absolute;
  height:80vw;
  width:60vw;
  left:23vw;
  top:50vw;
  z-index:6;
  display:none;
}
#mask{
  position:absolute;
  height:100vh;
  width:100vw;
  z-index:5;
  top:0vw;
  left:0vw;
  background-color: rgb(0, 0, 0, 0.6);
  display:none;
}

#all_house{
  position:absolute;
  height:auto;
  width:100vw;
  bottom:0vw;
  left:0px;
  margin:0vw;
}

#cloud1, #cloud2{
  position:absolute;
  width:40vw;
  height:20vw;
}
#cloud1{
  left:2vw;
  top:25vw;
}
#cloud2{
  right:2vw;
  top:18vw;
}

#testbtn{
  position:absolute;
  top:5vw;
  right:2vw;
  width:12vw;
  height:12vw;
}
#bike{
  position:absolute;
  width:25vw;
  height:25vw;
  left:5vw;
  bottom:5vw;
}
#small_person, #taiwan, #map{
  position:absolute;
  bottom:2vw;
  z-index:1;
}
#small_person{
  left:15vw;
}
#map{
  left:70vw;
}
#taiwan{
  left:45vw;
}

.entrance{
  position:absolute;
  bottom:48vw;
  left:46.8vw;
  width:7.5vw;
  height:12vw;
  z-index:7;
}
