body{
  margin:0px;
  height:100%;
  width:100%;
}
#flip{
  top:100px;
  overflow:hidden;
  left:-860px;
  display:none;
}
#bag{
  position:relative;
  margin-top:15px;
  margin-left:180px;
}
#bag, .td{
  border: 12px solid #ffffff;
}
.modal{
  position:absolute;
  background-image:url("asset/bag_background.png");
  background-repeat:no-repeat;
  background-size:auto 1270px;
  margin:0px;
  height:1270px;
  width:860px;
  text-align:center;
}
td{
  width:190px;
  text-align:center;
}
.major{
  height:190px;
}
.tag{
  height:24px;
  font-size:24px;
}
